
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rosa-escuro: #9F3D56;
    --rosa-medio: #CD6A83;
    --rosa-claro: #FFB1C5;
}

/* Fonts */
@font-face {
    font-family: 'Moderustic';
    src: url(fonts/Moderustic-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(fonts/OpenSans/OpenSans-Regular.ttf); 
    font-weight: 400; 
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(fonts/OpenSans/OpenSans-SemiBold.ttf); 
    font-weight: 600; 
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(fonts/OpenSans/OpenSans-Bold.ttf); 
    font-weight: 700; 
}


h1, h2, h3 {
    font-family: 'Moderustic';
    color: var(--rosa-escuro);
}

header {
    position: sticky;
    width: 100vw;
    height: 80px;

    background: #FFFFFF;
    box-shadow: 
    0px 4px 8px 3px rgba(0, 0, 0, 0.05), 
    0px 1px 10px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-grid {
    width: 90vw;
    max-width: 1760px;
    margin: 0 auto;
}

#header nav {
    width: 575px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #logo-header {
    width: 80px;
    height: 70px;
}

#header a {
    width: 128px;
    height: 44px;

    text-decoration-line: none;
    color: black;
    font-family: 'Open Sans SemiBold';
    font-size: .9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

#header a:hover {
    background: #F6F6F6;

    font-family: 'Open Sans Bold';
}

main {
    height: calc(100vh - 115px);

}

main img {
    height: calc(100vh - 115px);
    width: 100vw;
    object-fit: cover;
    position: relative;
}

main button {
    height: 58px;
    width: 278px;

    position: absolute;
    bottom: 36%;
    right: calc(50% - 139px);

    color: white;
    background-color: var(--rosa-escuro);

    font-family: 'Open Sans Bold';
    font-size: 24px;
    border: none;

    cursor: pointer;
}

.horizontal-scroll {
    height: 25px;
    background-color: var(--rosa-medio);
}

.slider-category {
    height: 567px;
    border: solid 2px red;
    margin: 64px auto;
}