
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rosa-escuro: #9F3D56;
    --rosa-medio: #CD6A83;
    --rosa-claro: #FFB1C5;
}

/* Fonts */
@font-face {
    font-family: 'Moderustic';
    src: url(fonts/Moderustic-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(fonts/OpenSans/OpenSans-Regular.ttf); 
    font-weight: 400; 
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(fonts/OpenSans/OpenSans-SemiBold.ttf); 
    font-weight: 600; 
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(fonts/OpenSans/OpenSans-Bold.ttf); 
    font-weight: 700; 
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Moderustic';
    color: var(--rosa-escuro);
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    margin-bottom: 48px;
}

p {
    font-family: 'Open Sans Light';
    font-size: 1.25em;
}

header {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 80px;

    background: #FFFFFF;
    box-shadow: 
    0px 4px 8px 3px rgba(0, 0, 0, 0.05), 
    0px 1px 10px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;  
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-in-out; /* Suavizar a transição */
    background-color: #fff;
}

#header.fixed {
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 5%;
    box-shadow: 
    0px 4px 8px 3px rgba(0, 0, 0, 0.05), 
    0px 1px 10px rgba(0, 0, 0, 0.15);

}

#header.fixed #logo-header {
    width: 48px;
}

#header.fixed #logo-header:hover {
    height: 48px;
}

.container-grid {
    width: 90%;
    max-width: 1760px;
    margin: 0 auto;
}

.menu {
    width: 575px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu #logo-header {
    width: 80px;
    height: 70px;
}

.menu a {
    width: 128px;
    height: 44px;

    text-decoration-line: none;
    color: black;
    font-family: 'Open Sans SemiBold';
    font-size: .9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.menu a:hover {
    background: #F6F6F6;

    font-family: 'Open Sans Bold';
}

/* Classe para deixar o menu escondido*/
.menu-closed {
    display: none;
}

#icon-bars {
    display: none;
}

#header button {
    display: none;
}

#banner {
    
}

main .slider {
    width: 100%;
    height: 90vh;
    max-height: 965px;
}

main .dots {
    position: absolute;
    bottom: 24px;
}

main .list img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.banner-1 {
    position: relative;
}

main .item:not(.active) button {
    display: none;
}


main .item button, #contato button:nth-child(2){
    height: 58px;
    width: 278px;

    position: relative;
    bottom: 35%;
    right: 50%;

    color: white;
    background-color: var(--rosa-escuro);

    font-family: 'Open Sans Bold';
    font-size: 1.5rem;
    border: none;

    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }    
}

.horizontal-scroll {
    background-color: var(--rosa-medio);
    overflow: hidden;
    padding: 4px 0;
    white-space: nowrap;
}

.text-slide {
    display: inline-block;
    animation:  14s slide infinite linear;
}

.text-slide div{
    display: flex;
    align-items: center;
}

.text-slide p {
    font-family: 'Moderustic';
    font-size: 1.25em;
    font-weight: 400;
    color: white;

    margin: 0 192px;
}


.category {
    padding: 132px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-category {
    width: 1760px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-selector {
    position: relative;
    width: 50%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line-div {
    height: 2px;
    width: 50%;
    background: var(--rosa-claro);
}

.genre-selector .tab-btn {
    font-family: 'Moderustic';
    font-size: 2.5em;
    font-weight: 300;
    color: var(--rosa-claro);
    background: none;
    border: none;
    cursor: pointer;
}

.genre-selector .tab-btn.active {
    color: var(--rosa-escuro);
    font-weight: 500;
    transition: ease-in-out 500ms; 
}

/* .content-box {
    padding: 20px;
} */

.content-box .content {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.content-box .content.active {
    display: block;
}

.content-box .content h2 {
    margin-bottom: 10px;
}

.content-photos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.photo-category {
    width: 425px;
    height: 425px;

    /* Coloquei dessa forma para não ter que aumentar o tamanho da caixa*/
    box-sizing:initial;
    border-bottom: solid 5px var(--rosa-escuro);
}

.content:nth-child(2) .photo-category {
    border-bottom: solid 5px #5371B3;
}

.photo-category img {
    width: 425px;
    height: 425px;
    object-fit:cover;
}

.line {
    position: absolute;
    top: 49.5px;
    left: 129px;
    width: 169px;
    height: 5px;
    background: var(--rosa-escuro);
    transition: all .3s ease-in-out;
}

#sobre{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.history {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.history:nth-child(3) {
    margin-top: 32px;
}

.history p {
    width: 40%;
}

.photo-arms {
    width: 45%;
    height: 444px;

    object-fit: cover;
}

.photo-arms:nth-child(2) {
    object-fit: contain;
}

#slide-1, #slide-2, #slide-3 {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.models {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 64px 0;
}

.models .photo-slide {
    width: 100vw;
}

.photo-model {
    height: 715px;
    width: 466px;
    object-fit:fill;
    border-bottom: solid 5px var(--rosa-medio);
}

.slider {
    /* width: 1464px; */
    width: 100%;
    max-width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

/* .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
} */

.dots {
    position: relative;
    color: red;
    left: 0;
    /* Era 100*/
    width: 100%;
    margin-top: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 72px;
    height: 7px;
    background-color: #D9D9D9;
    margin: 24px;
    transition: 1s;

    cursor: pointer;
}

.dots li:hover {
    background-color: var(--rosa-medio);
    transition: ease-out 300ms;
}

.dots li.active {
    width: 72px;
    background-color: var(--rosa-escuro);
}

.icons {
    width: 100%;
    /* height: 304px; */
    
    color: white;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 24px 0;
}

.bg-icons {
    width: 100%;
    /* background-image: url(images/div/Info-2.svg); */

    background-color: var(--rosa-escuro);
    position: relative;
    overflow: hidden;
}

.bg-icons .pattern {
    background-image: url(images/elements/pattern-icons-completo.svg);
    top: 25px;
    left: -300px;
}

.bg-icons .pattern:last-child {
    top: unset;
    left: unset;
    bottom: 25px;
    right: -300px;
}

.description-service {
    width: 60%;
    max-width: 1166px;

    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
}

.description-service h2, .icons h2{
    color: white;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 24px;    
}

#cto-1{
    font-size: 2em;
    margin: 0;
}

.description-service p {
    font-family: 'Open Sans Regular';
    font-size: 1em;
}

.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 24%;
}

.description-text {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 24px;
}

.carrossel-products {
    width: 100%;
    text-align: center;
    padding: 132px 0 ;
}

.carrossel-products .slider {
    width: 100%;
    height: 100%;
}

.carrossel-products .list {   
    position: relative;
}

.carrossel-products .slider .item {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.photo-slide {
    width: 100%;

    display: flex;
    gap:24px;

    justify-content: center;
}

.carrossel-products .dots {
    /* Faz nada */
    bottom: 0;

    position: relative;
}

/* Perguntas */

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 132px;
}

.perguntas h3 {
    font-size: 1.5em;
}


.faq {
    max-width: 1166px;
    width: 70%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--rosa-escuro);
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;

    /* Animação */
    transition: max-height 1s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans Regular';
    font-size: 1.5em;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq.active svg {
    transform: rotateX(180deg);
    box-shadow: 0px -4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);

}

.faq svg {
    /* M3/Elevation Dark/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);

    transition: transform 0.4s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#contato {
    margin-bottom: 48px;
}

.contato {
    width: 100%;
    background-color: #F6F6F6;  
    /* M3/Elevation Dark/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);

    padding: 112px 148px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Herda do botão da main */
#contato button:nth-child(2){
    position: unset;
    width: 25%;
}

.social {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: unset;
}

.social p {
    font-size: 2em;
    font-family: 'Open Sans Regular';
}

.buttons {
    width: 80%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 145px;
}

.buttons a {
    width: 60%;
    text-decoration-line: none;    
}

.buttons button {
    font-family: 'Open Sans Semibold';
    font-size: 2em;

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: transparent;
    border: none;
    color: var(--rosa-escuro);
}

footer {
    background-color: #F6F6F6;
}

.info-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;

    padding: 32px 0;
}

.info-links div {
    display: flex;
    flex-direction: column;
}

.info-links div div, .info-links div:nth-child(2) {
    gap: 32px;
}

.info-links h2, .footer-icons h2 {
    font-size: 1.25em;
    margin-bottom: 8px;
}

.info-links p {
    font-size: 1.25em;
    font-family: 'Open Sans Regular';
}

.info-links a {
    font-size: 1.25em;
    font-family: 'Open Sans Semibold';
    text-decoration-line: none;
    color: var(--rosa-escuro);
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 24px;
    flex-wrap: wrap;
    flex-direction: row;

    background: #FFFFFF;
    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.container-icon {
    width: 24%;

    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 24px;
}

.container-icon div {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.container-icon h2 {
    text-align: center;
}

.footer-info {
    background-color: var(--rosa-escuro);

    margin-top: 32px;
    width: 100%;
    padding: 12px 0;

    position: relative;

    overflow: hidden;
}

.footer-info p{
    font-size: .75em;
    color: white;
    font-family: 'Open Sans Regular';   
}

.pattern {
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: url(images/elements/pattern-footer.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.pattern:last-child{
    top: 0;
    transform:  scaleX(-1) scaleY(-1);
}

@media screen and (max-width: 1825px) {
    
    .photo-category, .photo-category img {
        width: 340px;
        height: 340px;
    }

    .line {
        left: 129px;
    }

    .models .slider {
        height: 586px;
    }

    
    .models .list img {
        width: 382px;
        height: 586px;
    }
    
    .carrossel-products .container-grid {
        width: 100%;
        max-width: unset;
    }

    .carrossel-products .photo-slide {
        width: 100vw;
    }
}

@media screen and (max-width: 1725px) {
    .line {
        left: 121px;
    }

    .photo-category, .photo-category img {
        width: 298px;
        height: 298px;
    }
    
    .container-icon {
        width: 30%;
        flex-wrap: wrap;
        flex-shrink: 0;
    }
    .container-icon div{
        gap: 8px;
    }
}


@media screen and (max-width: 1650px) {
    .line {
        left: 110px;
    }
    
    /* .carrossel-products .slider .item {
        width: 100vw;
    } */
}

@media screen and (max-width: 1530px) {
    .line {
        left: 98px;
    }
}


@media screen and (max-width: 1475px) {
    .line {
        left: 88px;
    }

    .models .list img {
        width: 382px;
        height: 586px;
    }
    
    .photo-model {

    }
    .photo-category, .photo-category img {
        width: 274px;
        height: 274px;
    }

    .buttons {
        width: 100%;
        gap: 24px;
    }
}

@media screen and (max-width: 1300px) {

    h2{
        margin-bottom: 32px;
    }

    .line {
        left: 67px;
    }
    
    .models .slider {
        height: 466px;
    }

    .models .list img {
        width: 304px;
        height: 466px;
    }

    .carrossel-products {
        padding: 64px 0;
    }

    .photo-category, .photo-category img {
        width: 198px;
        height: 198px;
    }

    .buttons {
        width: 100%;
        gap: 24px;
    }

    #contato button:nth-child(2) {
        width: 35%;
    }
}

@media screen and (max-width: 1200px) {
    
    #header button {
        display: none;
    }

    .line {
        left: 57px;
    }

    .container-icon {
        width: 100%;
        gap: 8px    ;
    }

    .footer-icons {
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width: 1155px) {
    .line {
        left: 52px;
    }

    .contato {
        padding: 84px 92px;
    }
}


@media screen and (max-width: 1050px) {
    .line {
        left: 33px;
    }

    .photo-arms {
        width: 370px;
    }

    .buttons {
        flex-direction: column;
    }
}


@media screen and (max-width: 950px) {
    .line {
        left: 23px;
    }
    
    .models .slider {
        height: 411px;
    }

    .models .item {
        position: relative;
    }
 
/* 
    Degradê 

       .models .item::after, .models .item::before{
        position: absolute;
        top: 0;

        width: 200px;
        height: 100%;
        content: "";
    }

    .models .item:after {
        right: 0;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
    .models .item::before{
        left: 0;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    } */
    
    .models .list img {
        width: 268px;
        height: 411px;
    }

    .bg-icons .pattern {
        left: -350px;
    }

    .bg-icons .pattern:last-child {
        right: -350px;
    }

    .contato {
        padding: 8px 8px;

        font-size: 0.75em;
    }

    .social p {
        text-align: center;
    }

    .buttons a {
        width: unset;
    }

    .buttons svg {
        height: 1.75em;
    }
}


@media screen and (max-width: 900px) {
    #header {
        position: relative;
    }

    #header button {
        display: unset;
    }

    .menu {
        width: 320px;
        height: 436px;

        padding: 91px 0;

        background-color: #fff;

        flex-direction: column;
        gap: 24px;

        position: absolute;
        top: 61px;

        z-index: 2;
    }

    .menu a {
        width: 80%;
        height: 62px;
        font-size: 1rem;
    }

    .menu a:hover {
        width: 80%;
    }

    .content-box {
        padding: 20px 0;
    }

    .description-service {
        width: 70%;
    }

}

@media screen and (max-width: 875px) {
    h2 {
        font-size: 1.8em;
    }
    
    p {
        font-size: 1.1em;
    }   

    /* Depois implementar dots que seguem o user mesmo com scroll */
    /* main .dots {
        position: sticky;
    } */

    main .item button, #contato button:nth-child(2) {
        bottom: 10%;
    }

    .category {
        padding: 64px 0;
    }
    
    .slider-category {
        font-size: 0.75em;
    }

    .line {
        top: 36px;
        width: 127px;
        height: 3px;
    }

    .photo-category, .photo-category img {
        width: 164px;
        height: 164px;
    }

    .slider {
        overflow-x: auto;
        font-size: 0;
        scrollbar-width: none;
    }   

    .models .item {
        min-width: 100vw;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
    }

    .models .photo-slide {
        gap: 4px;
    }

    .description-service {
        width: 80%;
    }

    .item-desc {
        width: 30%;
    }

    .description-text {
        gap: 8px;
    }

    #cto-1 {
        font-size: 1.5em;
    }

    .carrossel-products .slider .item {
        gap: 12px;
    }

    .photo-slide {
        gap: 12px;
    }   

    .social{
        font-size: 0.8em;
    }
    
    /* .social h2 {
        font-size: 2.5em;
    } */

    .buttons, .buttons button{
        gap: 8px;
    }

    #contato button:nth-child(2) {
        height: unset;
        width: 30vw;

        padding: 8px 8px;
    }
}

@media screen and (max-width: 815px) {
    .menu {
        right: 0;
    }

    .history {
        flex-wrap: wrap;
    }

    .history p {
        width: 100%;

        margin-bottom: 12px;
    }

    .history:nth-child(3) {
        flex-direction: column-reverse;
    }

    .photo-arms {
        width: 100%;
    }

    .contato {
        flex-direction: column;
        gap: 12px;
    }

    .social {
        gap: 12px;
    }

    .info-links {
        flex-direction: column;
        gap: 24px;
    }

    .info-links div div {
        gap: 12px;
    }
}

@media screen and ( max-width: 765px) {
    .dots li.active,.dots li {
        width: 2rem;
        height: 7px;
        margin: 8px;
    }
    
    .models .list img {
        object-fit: cover;
    }

    .faq {
        width: 80%;
        font-size: 0.8rem;
    }

    #contato button:nth-child(2) {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .existing-pattern {
        display: none;
    }
    
    .bg-icons {
        position: initial;
        background-color: #fff;
    }

    .description-service {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .item-desc {
        width: 80%;
        aspect-ratio: 1 /1;
        background-color: var(--rosa-escuro);
        align-items: center;
        gap: 12px;

        position: relative;
        overflow: hidden;
    }

    .bg-icons .pattern:last-child {
       right: -800px;
    }
   
    .bg-icons .item-desc .pattern {
        right: 68%;
        top: 100px;
        transform: scaleX(-1);
        position: absolute;
        background-size: cover;
    } 
    
    .description-text {
        width: 75%;
        flex-direction: column;
        text-align: center;
    }

    .description-text img {
        width: 98px;
    }

    #cto-1 {
        color: var(--rosa-escuro);
    }
}

@media screen and (max-width: 550px) {
    .menu {
        width: 100%;
    }

    .slider-category {
        overflow-y: auto;
        scrollbar-width: none;
    }   
    .contato {
        background-color: #fff;
        box-shadow: none;
    }
}

@media screen and (max-width: 465px) {
    .description-service {
        width: 90%;
    }

    .bg-icons .item-desc .pattern {
        top: 28%;
    } 

    .social {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .description-service {
        width: 100%;
    }

    .bg-icons .item-desc .pattern {
        top: 45%;
    }
    .description-text img {
        width: 64px;
    }
}