
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rosa-escuro: #9F3D56;
    --rosa-medio: #CD6A83;
    --rosa-claro: #FFB1C5;
}

/* Fonts */
@font-face {
    font-family: 'Moderustic';
    src: url(fonts/Moderustic-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(fonts/OpenSans/OpenSans-Regular.ttf); 
    font-weight: 400; 
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(fonts/OpenSans/OpenSans-SemiBold.ttf); 
    font-weight: 600; 
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(fonts/OpenSans/OpenSans-Bold.ttf); 
    font-weight: 700; 
}


h1, h2, h3 {
    font-family: 'Moderustic';
    color: var(--rosa-escuro);
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    margin-bottom: 72px;
}

p {
    font-family: 'Open Sans Light';
    font-size: 1.25em;
}

header {
    position: sticky;
    width: 100%;
    height: 80px;

    background: #FFFFFF;
    box-shadow: 
    0px 4px 8px 3px rgba(0, 0, 0, 0.05), 
    0px 1px 10px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-grid {
    width: 90vw;
    max-width: 1760px;
    margin: 0 auto;
}

#header nav {
    width: 575px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #logo-header {
    width: 80px;
    height: 70px;
}

#header a {
    width: 128px;
    height: 44px;

    text-decoration-line: none;
    color: black;
    font-family: 'Open Sans SemiBold';
    font-size: .9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

#header a:hover {
    background: #F6F6F6;

    font-family: 'Open Sans Bold';
}

main {
    height: calc(100vh - 115px);
}

main img {
    height: calc(100vh - 115px);
    width: 100%;
    object-fit: cover;
    position: relative;
}

main button, #contato button:nth-child(2){
    height: 58px;
    width: 278px;

    position: absolute;
    bottom: 32%;
    right: calc(50% - 139px);

    color: white;
    background-color: var(--rosa-escuro);

    font-family: 'Open Sans Bold';
    font-size: 24px;
    border: none;

    cursor: pointer;
}

.horizontal-scroll {
    height: 25px;
    background-color: var(--rosa-medio);
}

.category {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-category {
    width: 1760px;
    border: solid 2px red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-selector {
    position: relative;
    width: 50%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line-div {
    height: 2px;
    width: 50%;
    background: var(--rosa-claro);
}

.genre-selector .tab-btn {
    font-family: 'Moderustic';
    font-size: 2.5em;
    font-weight: 300;
    color: var(--rosa-claro);
    background: none;
    border: none;
    cursor: pointer;
}

.genre-selector .tab-btn.active {
    color: var(--rosa-escuro);
    font-weight: 500;
    transition: ease-in-out 500ms; 
}

.content-box {
    padding: 20px;
}

.content-box .content {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.content-box .content.active {
    display: block;
}

.content-box .content h2 {
    margin-bottom: 10px;
}

.content-photos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.photo-category {
    width: 425px;
    height: 425px;

    /* Coloquei dessa forma para não ter que aumentar o tamanho da caixa*/
    box-sizing:initial;
    border-bottom: solid 5px var(--rosa-escuro);
}

.content:nth-child(2) .photo-category {
    border-bottom: solid 5px #5371B3;
}

.photo-category img {
    width: 425px;
    height: 425px;
    object-fit:cover;
}

.line {
    position: absolute;
    top: 49.5px;
    left: 129px;
    width: 169px;
    height: 5px;
    background: var(--rosa-escuro);
    transition: all .3s ease-in-out;
}

#sobre{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.history {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.history p {
    width: 40%;
}

.photo-arms {
    width: 870px;
    height: 444px;

    object-fit: scale-down;
}

#slide-1, #slide-2, #slide-3 {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.models {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 64px 0;
}

.photo-model {
    height: 715px;
    width: 466px;
    object-fit:fill;
    border-bottom: solid 5px var(--rosa-medio);
}

.slider {
    width: 1464px;
    max-width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

/* .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
} */

.dots {
    position: relative;
    color: red;
    left: 0;
    /* Era 100*/
    width: 100%;
    margin-top: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 72px;
    height: 7px;
    background-color: #D9D9D9;
    margin: 24px;
    transition: 1s;

    cursor: pointer;
}

.dots li:hover {
    background-color: var(--rosa-medio);
    transition: ease-out 300ms;
}

.dots li.active {
    width: 72px;
    background-color: var(--rosa-escuro);
}

.icons {
    width: 100%;
    height: 304px;
    
    color: white;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-icons {
    width: 100%;
    background-image: url(images/div/Info-2.svg);
}

.description-service {
    width: 60%;
    max-width: 1166px;

    margin: 32px 0;

    display: flex;
    justify-content: space-between;
}

.description-service h2, .icons h2{
    color: white;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 24px;    
}

#cto-1{
    font-size: 2em;
    margin: 0;
}

.description-service p {
    font-family: 'Open Sans Regular';
    font-size: 1em;
}

.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 24%;
}

.description-text {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 24px;
}

.carrossel-products {
    width: 100%;
    text-align: center;
    padding: 132px 0 ;
}

.carrossel-products .slider {
    width: 100%;
    height: 100%;
}

.carrossel-products .list {   
    position: relative;
}

.carrossel-products .slider .item {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.photo-slide {
    width: 100%;

    display: flex;
    gap:24px
}

.carrossel-products .dots {
    /* Faz nada */
    bottom: 0;

    position: relative;
}

/* Perguntas */

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 132px;
}

.perguntas h3 {
    font-size: 1.5em;
}


.faq {
    max-width: 1166px;
    width: 70%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--rosa-escuro);
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;

    /* Animação */
    transition: max-height 1s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans Regular';
    font-size: 1.5em;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq.active svg {
    transform: rotateX(180deg);
    box-shadow: 0px -4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);

}

.faq svg {
    /* M3/Elevation Dark/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);

    transition: transform 0.4s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#contato {
    margin-bottom: 72px;
}

.contato {
    width: 100%;
    background-color: #F6F6F6;  
    /* M3/Elevation Dark/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);

    padding: 112px 148px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Herda do botão da main */
#contato button:nth-child(2){
    position: unset;
    width: 25%;
}

.social {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: unset;
}

.social p {
    font-size: 2em;
    font-family: 'Open Sans Regular';
}

.buttons {
    width: 80%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 145px;
}

.buttons a {
    width: 60%;
    text-decoration-line: none;    
}

.buttons button {
    font-family: 'Open Sans Semibold';
    font-size: 2em;

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: transparent;
    border: none;
    color: var(--rosa-escuro);
}

footer {
    background-color: #F6F6F6;
}